@font-face {
    font-family: 'IBM Plex Serif';
    src: local("IBM Plex Serif"), local("IBMPlexSerif-Regular"), url('IBMPlexSerif-Regular-Latin1-Pi.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: local("IBM Plex Serif Italic"), local("IBMPlexSerif-Italic"), url('IBMPlexSerif-Italic-Latin1-Pi.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: local("IBM Plex Serif Semibold"), local("IBMPlexSerif-Semibold"), url('IBMPlexSerif-SemiBold-Latin1-Pi.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: local("IBM Plex Serif Semibold Italic"), local("IBMPlexSerif-SemiboldItalic"), url('IBMPlexSerif-SemiBoldItalic-Latin1-Pi.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}