<link rel="stylesheet" href="../assets/css/reset.css">
<link rel="stylesheet" href="../assets/css/style.css">
<link rel="stylesheet" href="../assets/css/cv.css">
<link rel="stylesheet" href="../assets/fonts/ibm_plex.css">
<link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
<meta name="description" content="Site personnel de Yann Trividic">
<meta name="keywords" content="art, performance, édition, programmation, livres, site personnel, portfolio, cv, travail, web-to-print">
<meta name="author" content="Yann Trividic">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="Yann Trividic" />
<meta property="og:title" content="Site personnel de Yann Trividic" />
<meta property="og:description" content="Je m’appelle Yann Trividic et je suis artiste, éditeur et doctorant en informatique. J’habite à Montreuil (en France) et officie entre le LISN (à Gif-sur-Yvette) et Césure (à Paris)." />
<meta property="og:url" content="https://yanntrividic.fr" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://yanntrividic.fr/assets/files/profile_yann_trividic.png" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="1280" />

<meta name="citation_author" content="Trividic, Yann">
<meta name="citation_title" content="Site personnel de Yann Trividic">
<meta name="citation_date" content="2023">

<link rel="schema.dc" href="https://purl.org/dc/elements/1.1/">
<meta property="DC.creator" content="Yann Trividic"/>
<meta property="DC.publisher" content="Yann Trividic"/>
<meta property="DC.language" content="fr"/>
<meta property="DC.title" content="Site personnel de Yann Trividic"/>
<meta property="DC.description" content="Je m’appelle Yann Trividic et je suis artiste, éditeur et doctorant en informatique. J’habite à Montreuil (en France) et officie entre le LISN (à Gif-sur-Yvette) et Césure (à Paris)."/>
<meta property="DC.rights" content="LAL 1.3"/>
<meta property="DC.date" content=""/>
<meta property="DC.type" content="Site personnel"/>
<link rel="dc:identifier" href="https://yanntrividic.fr"/>

<meta property="dc:creator" content="Yann Trividic"/>
<meta property="dc:publisher" content="Yann Trividic"/>
<meta property="dc:language" content="fr"/>
<meta property="dc:title" content="Site personnel de Yann Trividic"/>
<meta property="dc:description" content="Je m’appelle Yann Trividic et je suis artiste, éditeur et doctorant en informatique. J’habite à Montreuil (en France) et officie entre le LISN (à Gif-sur-Yvette) et Césure (à Paris)."/>
<meta property="dc:rights" content="LAL 1.3"/>
<meta property="dc:date" content=""/>
<meta property="dc:type" content="Site personnel"/>
<script>
	window.PagedConfig = {
		auto: false,
		after: (flow) => { console.log("after", flow) },
	};
</script>
<script src="../assets/js/lang_swapper.js" defer></script>
<script src="../assets/js/cv/date_processor.js" defer></script>
<script src="../assets/js/cv/paged.js"></script>
<script src="../assets/js/cv/hooks.js"></script>
<script src="../assets/js/cv/resume_editor.js" defer></script>