#preamble {
    display: none;
}

.closeButton {
    font-weight: 600;
    text-decoration: none;
    margin-left: 0.2em;
    color: red;
    line-height: 0;
    font-style: normal !important;
}

main {
    position: relative;
    min-height: 100vh;
}

section {
    height: 100vh;
}

h2 {
    display: none;
}

.info {
    display: none;
}

details {
    margin-left: 0.9em;
}

details p {
    margin-left: 1.1em;
    margin-bottom: 0.7em;
}

details .content {
    margin-bottom: 1.3em !important;
}

details > summary {
    list-style-type: '\21AA\a0';
    font-weight: 600;
    font-style: italic;
    margin-bottom: 0.7em;
}

details > summary:hover {
    font-weight: 600;
    font-style: normal;
}

details[open] > summary {
    list-style-type: '\21BA\a0';
    font-style: normal;
}

details[open] > summary {
    margin-bottom: 0.5rem;
}

details:last-of-type {
    padding-bottom: 4em;
}

summary::marker {
    font-style: normal ;
    font-weight: 600;
}

code {
    display: block;
    font-style: italic;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.printinfo {
    position: absolute;
    bottom: 1em;
}

.dragging, .hideForPrint {
    opacity: .5;
}

@media screen, pagedjs-ignore { .pagedjs_pages { height: 1px !important; } }

@media print {
    @page {
        size: 210mm 297mm;
        margin: 15mm 15mm;
        @bottom-right {
            content: "yanntrividic.fr/cv – " counter(page) "\2009/\2009" counter(pages);
        }

        @bottom-left {
            content: string(title);
        }
    }

    body {
        font-size: 0.895em;
    }

    h2 {
        string-set: title content(text);
        display: block;
        float: left;
        font-size: 1.7em;
        font-weight: 600;
        margin: 0;
    }

    .pagedjs_margin-content {
        padding-top: 15mm;
        padding-bottom: 30mm;
        font-size: 0.8em;
    }

    .info {
        display: block;
        text-align: right;
        float: right;
        font-size: 0.9em;
        /* line-height: 1.1em; */
    }

    .onlyweb, .printinfo {
        display: none !important;
    }

    .closeDetailsButton, .closeEntryButton {
        display: none;
    }

    .intro {
        padding-top: 3em;
        width: 50%;
        height: 2cm;
        margin-bottom: 12em;
    }

    a:hover {
        font-style: normal;
    }

    a.following_link {
      /* display: inline-block; */
      font-size: 0.875em;
      padding-left: 0.25em;
    }

    a.following_link::before {
        content: '\a0';
    }

    button, p.buttonLanguage {
        display: none;
    }

    p {
        margin-left: 0;
    }

    .details .content {
        columns: 2;
        column-gap: 6mm;
        column-rule: .5mm dotted;
        width: 100%;
        margin-bottom: 1.4em;
        /* break-inside: avoid; */
    }

    summary {
        font-weight: 600;
        /* margin-top: 1.5em; */
        font-size: 1.4em;
        break-after: avoid;
        border-bottom: .5mm solid;
        padding-bottom: .2em;
    }

    .details .content p {
        break-inside: avoid;
        margin-left: 0;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
        margin-bottom: 0;
    }

    code {
        display: block;
        margin-left: -1em;
        margin-bottom: .15em;
    }

    .hideForPrint {
        display: none;
    }
}