@media screen {
	html {
		width: 650px;
		background-color: #fff6dd;
		font-size: 23px;
	}

	body {
		color: #28282B;
	}
}

body {
	line-height: 1.25em;
	font-family: 'IBM Plex Serif';
}

p {
	margin-bottom: 20px;
	margin-left: 0.9em;
}

p.bottom {
	position: absolute;
	bottom: 20%;
	text-align: right;
}

a {
	color: blue;
}

a i, i, em {
	font-style: italic;
}

.replace {
	text-decoration: dotted underline;
}

a:hover, .replace:hover {
	font-style: italic;
}

a:hover i, i.replace:hover {
	font-style: normal;
}

.cat {
	font-weight: 600;
	font-style: italic;
	padding-right: .1em;
}

.bonjour {
	margin-top: 3em;
}

.signature {
	width: 100%;
}

.end {
	margin-top: 0em;
	float: left;
	text-align: left;
}

@media only screen and (max-width: 800px) {
	html {
		height: 100%;
		width: 95%;
		font-size: 1.95vh;
	}
}

b, strong {
	font-weight: 600;
}

p.buttonLanguage {
	padding-top: 26px;
}

button {
	color:  blue;
	text-decoration: underline;
	font-family: inherit;
	font-size: inherit;
	border: inherit;
	background-color: inherit;
	padding: 0;
}

button:hover, button:focus {
	font-style: italic;
}

p.lastModification {
	margin-top: 4em;
	margin-bottom: 2em;
}

a.fediverseSymbol::after, .fediverseSymbol a::after {
    content: "\202F\2042";
    font-family: "DejaVu serif", "DejaVu sans", Arial, Helvetica, sans-serif;
	font-size: 0.95em;
    font-style: normal;
}